/*

ROMIS
*/

/*

*/

.hlist {
	background-color: #abf;
	
}
/*
Global
*/

input, textarea { padding: 3px; margin: 1px; }
input[disabled], input:disabled, textarea[disabled], textarea[disabled="disabled"], textarea:disabled, input[readonly="readonly"], textarea[readonly="readonly"]
{
    background-color: gainsboro;
}
textarea { width: 99%; background-color: white; }

input[type='text'], input[type='password'] { background-color: white; }

  /*-------------------------------------------------------------------------*/
#header_bottom {
	height: 82px; 
}
#header_bottom  div{
	clean: none;
}
#header_bottom_cont .search_mini {
	margin-left: 10px;
	float: right;
	position: relative;
	top: 25px;
	left: 0px;
}

#lnav {
	/*min-height: 1000px; */
	background-color: lightblue;
	
}


.person_data_main {
   float: right;
   position: relative;
   right: 0px;
   text-align:left;
   color: #222;
   padding: 3px;
   background: #ccc;
   border: #ccc 1px solid;
   border-radius: 5px;
   margin-bottom: 5px;
}

.person_data_main a {
   margin-left: 60px;
   
}

.person_data_main .person_data_info {
	clear: both;
	float: right;
}

.icon {
	margin: 2px;
}

.need_el:after {
	content: "*";
	color: red;
	clear: none;
	font-weight: bolder;
	font-size: large;
}


.dscr_el {
   color: blue;
   clear: none;
   font-weight: normal;
   font-size: smaller;
}


.search_mini input {
	float: left;
}

.search_mini input[type=text] {
	}
.search_mini > input[type=image] {
	padding-top: 0px;
	margin-top: -1px;
}

.picture_container  {
	background-repeat:no-repeat;
	background-position: top left;
	background-size: 100% auto;
	width: 210px;
	height: 1000px;
}

.picture_container_left {
	background-image: url("../images/spring-11.jpg");
}

.picture_container_right {
	background-image: url("../images/innova-1-3-t.jpg");
}

/*
.picture_container_left > .placeholder:after {
	content:'<img src="../images/power_suply.jpg">';
}
*/
  .header_part { 
  	height: 65px; 
  	padding: 2px 2em 1em 10px; 
  	color: #000;
	margin: auto; /* center in viewport */
	max-width: 1050px;
  	}
  #header_all { 
	background-image: url("images/background_head.jpg");
	background-repeat:no-repeat;
	background-position:center; 
	background-position-y: -110px
  }
	
  #header_left { 
    position:absolute; 
    padding: 2px 2em 1em 20px; 
    float: left; 
    margin-top: 5px; 
  }
  
  #topnav .module_container {
   float: left;
   padding: 0px 2px;
  } 
  
  #topnav { 
	float: left;
	clear: none;
	width: 100%;
	margin: 5px 2px 2px 145px;
	padding: 7px 5px 7px 5px;
	/*text-align:right;
	color: #eee;
	background: #012652;
	border: #012652 2px solid;
	border-radius: 5px;*/
  }
  
  #master_menu a {
	color: #eee;
	font-weight: bold;
	padding: 5px;
  }
  
  #master_menu a:hover {
	font-weight: bold;
	background: #eee;
	padding: 3px;
	color: #e02122;
	border: #eee 2px solid;
	border-radius: 3px;
  }
  
  #footer { padding: 10px 20px; color:#666; background: #f9f9f9; border-top: 5px #efefef solid; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #navigation { 
  	margin-bottom: 35px;
  	max-width: 1050px;
	margin: auto; /* center in viewport */
	padding-bottom: 15px;
}

#lmain > .content {
	padding: 0 5px 0 5px;
}

/*
.vertical_menu01 {
	background-image: url("../images/box-icon-1.png");
	background-repeat:no-repeat;
	background-position: bottom;
}
.vertical_menu02 {
	background-image: url("../images/box-icon-2.png");
	background-repeat:no-repeat;
	background-position: bottom;
}
.vertical_menu03 {
	background-image: url("../images/box-icon-3.png");
	background-repeat:no-repeat;
	background-position: bottom;
}
.vertical_menu04 {
	background-image: url("../images/box-icon-4.png");
	background-repeat:no-repeat;
	background-position: bottom;
}
.vertical_menu05 {
	background-image: url("../images/box-icon-5.png");
	background-repeat:no-repeat;
	background-position: bottom;
}
.vertical_menu01:hover {
	background-image: url("../images/segregator_s.png");
}
.vertical_menu02:hover {
	background-image: url("../images/dlugopis_s.png");
}
.vertical_menu03:hover {
	background-image: url("../images/zywieniowe_s.png");
}
*/
.vertical_menu_item {
	float: left;
	margin: 10px 10px;
	width: 80px;
	height: 80px;
}
.vertical_menu {
	float: left;
	margin-left: 10px;
}


/*
YUI params
everything below is custom styling to demonstrate how to create a page layout using yui grid units 
*/
/* 3 column fluid layout (either side column is optional, just omit the layout padding) */
#layout {
	margin: auto; /* center in viewport */
	/*padding-top: 20px;*/
	max-width: 1050px;
}

#page {
    margin: auto; /* center in viewport */
}

#nav {
    margin-left:-200px; /* "left col" width */
    width:200px;
}

#extra {
    width:200px;
    margin-right:-200px; /* "right col" width */
}

#main {
    width:978px;
}

/* arbitrary content styling */
#hd, #nav .content, #main .content, #extra .content, #ft {
    margin: 2px;
    min-height: 400px;
}

#hd, #ft {
    height: 40px;
}
body {
	min-width: 768px;
	margin: auto; /* center in viewport */
}


/*
Container
*/
 
.content_container {
	border: 0px solid white;
	padding: 0px 2px;
}

.left_menu .module_container {
	margin: 0px 0 10px 0;
	
}
.right_menu .module_container {
   margin: 0px 0 10px 0;
   
}
.container_header {
	/*background-image: url("images/container_header.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	padding: 13px 0 5px 5px;*/
	margin-bottom: 10px;
	font-weight: bolder;
	font-size: large;
	text-shadow: 0.12em 0.12em #999;
	display: none;
}

.container_subheader  {
	/*background-image: url("images/container_header.png");
	background-position: left bottom;
	background-repeat: no-repeat;*/
	padding: 13px 0 5px 5px;
	margin-bottom: 10px;
	/*font-style: italic;
   text-shadow: 0.12em 0.12em #999;
	font-size: large;*/
	font-size: 16px;
	font-weight: bold;
	color: #002861;
	font-family: Arial;
}

.container_bottom {
	padding-bottom: 15px;
	/*background-image: url("images/column_bottom_bottom.png");
	background-position: bottom;
	background-size: 100% 10px;
	background-repeat: no-repeat;*/
	clean: both;
}


/*
Currency exchange
*/
.currency_exchange_container {
	margin: 5px 0px 0px 2px;
	border-top: 1px solid black;
}

.currency_exchange_date {
   margin: 5px 0px;	
}

.currency_exchange_date > span {
   padding: 0px 5px;
   float: right;
}

li.currency_exchange {
list-style: none;
}

.currency_exchange_currency > .span2 {
   font-size: smaller;
   font-style: italic;
}


.currency_exchange_currency > span {
	padding: 0px 5px;
	float: right;
}

.currency_exchange.menu_header {
position: relative;
text-shadow: 0.12em 0.12em #999;
margin-bottom: 5px;
}

/*
Account
*/
.account_container {
	
}

.account_container .container_subheader {
	border-bottom: 1px solid brown;
}

/*
Article
*/
.article {
	margin-left:4px;
}

.article_tab {
	margin-left: 15px;
}

.article_hr {
	height: 10px;
	border: 0;
}

.article_menu_left.menu_header {
	position: relative;
	text-shadow: 0.12em 0.12em #999;
}

.article.menu_header > .icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	/*
	background-image: url("images/info_16.png");
	background-position: center right;
	background-repeat: no-repeat; */
}
.article_menu_left > .article {
	padding-top: 2px;
	border-top: 1px solid darkblue;
}
.article_menu_left > .article_first {
   padding-top: 2px;
   border-top: 0;
}
.article_menu_left > .menu_bottom {
   border-top: 0;
}

/*
* $$$$$$$$$$$$$$$
*/
a {
   text-decoration: none;
   color: blue;
}
 a:hover {
   color: BLUE;
   /*text-shadow: 0.1em 0.1em 0.1em black;*/
}


.article_menu_left {
	/*padding-bottom: 5px;*/
}

.article_container  {
	padding-top: 11px;
}

.article_content {
   background-color: white;
   border: 5px solid white;
}


.article_title {
	padding: 4px;
	font-weight: bold;
	font-size: larger;
}

.menu_header {
	padding: 2px;
	/*
	background-image: url("images/column_border_bottom.png");
	background-position: left bottom;
	background-repeat: no-repeat;
   border: 1px solid white;
	
   border: 5px solid lightgrey;
   background-color: lightgrey;
   background-color: lightgrey;*/
   margin: 0;
	font-weight: bold;
	font-size: larger;
	font-style: italic;
}

.menu_bottom {
   margin: 0;
	padding: 0;
	/*background-image: url("images/column_bottom_bottom.png");
	background-position: bottom;
	background-size: auto 10px;
	background-repeat: no-repeat;*/
   height: 15px;
}

/*
Product Info
*/
.product {
	padding: 2px 0 12px 0;
}

.product_info {
	position: relative;
	min-height: 200px;
}

.product_name {
	text-transform: uppercase;
	padding: 13px 0 5px 5px;
}

.product_description {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 215px;
	text-align: justify;
}

.product_image { 
	float: right;
	border: 2px solid grey;
	border-radius: 1px;
	position: relative;
	top:0;
	right:0;
   float: right;
	cursor: pointer;
	margin: 10px;
	vertical-align: top;
}

.product_price {
	font-weight: bolder;
	font-size: large;
}

.product_vat {
	font-weight: normal;
	font-size: small;
}

/*
product_price
product_quantity
product_producent
product_index
product_description
product_add_basket
*/
.product_add_basket {
 	text-align: right;
	padding: 5px;
   position: absolute;
 	bottom: 3px;
 	right: 10px;
 	background-image: url("../files/koszyk_dol.png");
 	background-position: center bottom;
 	background-repeat: no-repeat;
/*  	background-color: rgb(215,215,215); */
/* 	border: 3px solid #ccc; */
/* 	border-bottom-left-radius: 12px; */
/* 	border-bottom-right-radius: 12px; */
/* 	border-top-right-radius: 12px; */
}


#add_to_basket div {
   margin-bottom: 0;
}

.iStoreProductCosts {
	padding-bottom: 5px;
}

.iStoreBoxContent {
   padding-top: 2px;	
}

.product_add_basket input {
	margin-left: 5px;
	font-size: 13px;
}


#add_to_basket {
   margin-bottom: 0;
}

.product_attribute_group {
   background-color: #edf2f5;
   width: 75%;
   padding: 2px;
}

.product_attribute_group_header {
	padding: 0px 0 1px 5px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #002861;
	font-family: Arial;
}
.product_attribute_group_all  {
	padding: 10px;
}

div.add_basket_quantity {
   
}
.add_basket_quantity input {
	background-color: white;
}

/*
 Product columns
*/
.product_columns {
   width: 255px;
   float: left;
}

.product_in_box {
   background: url('../files/product_small.png') no-repeat;
   background-position: 4px 0;
   width: 240px;
   height: 280px;
   padding: 5px 5px 0 5px;
   margin-bottom: 5px;
   clear: both;
}
.product_in_box_data {
	height: 187px;
	padding: 5px;
}
.product_in_box_data h4 {
	background-color: black;
}
.product_in_box_bottom {
   height: 42px;
   text-align: center;
   vertical-align: middle;
   font-weight: bold;
}

.product_in_box_footer {
   height: 42px;
   text-align: center;
   vertical-align: middle;
   font-weight: bold;
}


.product_column_quality1 {
   background-color: #Faa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.product_column_quality5 {
   background-color: #aaF;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}
.product_column_quality10 {
   background-color: #aFa;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}
\
/*
Catalog
*/
.catalog_box {
	margin: 2px;
	padding: 0px;
	border: 1px solid blue;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	background-color: #eeeeff;
}

.catalog_header {
	margin: 0;
	padding: 4px;
	font-weight: bold;
	background-color: blue;
	color: #ffffee;
	font-size: larger;
}

.catalog_product_name {
	font-size: small;
	font-weight: bolder;
	padding-left: 5px;
}
.catalog_product_description {
	padding-top: 10px;
	display: none;
}
/*
product_info
product_name
product_image
product_price
product_description
product_add_basket
*/

/*
Balance
*/

.balance {
	background-color: lightgrey;
	padding: 3px;
}


.balance span {
   float: right;
}

.balance.menu_header {
   position:relative;
   text-shadow: 0.12em 0.12em #999;
   padding: 2px;
   border: 0;
   margin: 0;
   background-color: white;
}
/*
Basket list
*/

.basket {
   background-color: white;
}

.basket_container {
	background-color: white;
   margin: 5px 0px;
}

table.basket_container {
   border: 0; 
   width: 100%;
   background-color: white;
}

table.basket_container.basket_tools td {
   background: white !important;
   border: 0 !important;
}


table .basket_tools input {
   color: black !important;
}


.basket_tools input[type="submit"] {
	border: 2px solid rgb(153, 153, 153);
	border-radius: 5px;
   background-color: rgb(153, 153, 153);
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
}

.basket_tools input[type="submit"]:hover {
   text-decoration: underline;
   text-shadow: 0.1em 0.1em 0.2em black;
}

.basket_tools a {
   border: 2px solid rgb(153, 153, 153);
   border-radius: 5px;
   background-color: rgb(153, 153, 153);
   padding-bottom: 2px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 2px;
   font-family: Arial, sans-serif;
   font-size: 13px;
   font-weight: bold;
   vertical-align: middle;
}

table.search_table {
   border: 0; 
   width: 100%;
   background-color: white;
}

table.search_table td {
   background: white !important;
   border: 0 !important;
}

table.pass_table {
   border: 0; 
   background-color: white;
}

table.pass_table td {
   background: white !important;
   border: 0 !important;
}

.basket.menu_header {
	position:relative;
	text-shadow: 0.12em 0.12em #999;
	padding: 2px;
	border: 0;
	margin: 0;
	background-color: white;
}

.basket.menu_bottom {
   margin: 0;
   border: 0;
}

.basket.menu_header > .icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	/*background-image: url("images/wallet_16.png");
	background-position: center right;
	background-repeat: no-repeat; */
}

.basket {
	background-color: white;
	padding: 5px;
	margin: 0 5px 5px 5px;
	border: 2px solid grey;
}

.mainbasket {
	border: 2px solid lightblue;
/* 	border-bottom-left-radius: 12px; */
/* 	border-top-right-radius: 12px; */
/* 	border-bottom-right-radius: 12px; */
}

.cleanstate_basket {
	border: 2px solid grey;
/* 	border-bottom-left-radius: 12px; */
/* 	border-bottom-right-radius: 12px; */
/* 	border-top-left-radius: 12px; */
}

 
      
.usedbasket {
	background-color: moccasin;
	border: 2px solid moccasin;
/* 	border-bottom-left-radius: 12px; */
/* 	border-bottom-right-radius: 12px; */
}

.lockedbasket_user {
	background-color: Coral;
	border: 2px solid Coral;
/* 	border-top-left-radius: 12px; */
/* 	border-top-right-radius: 12px; */
}

.lockedbasket_other {
	background-color: OrangeRed ;
/* 	border-bottom-left-radius: 12px; */
/* 	border-bottom-right-radius: 12px; */
}

.basket_number {
	padding: 0px 0 5px 0;
	border-bottom: 1px dotted brown;
	margin:  0px 0 5px 0;
}

.basket_single #nr {
	text-decoration: underline;
	margin-left: 3px;
	float: right;
}

.basket_menu {
	float: right;
}
.basket_menu img{
	margin-left: 5px;
}

.basket_show_all {
	margin: 10px;
	border: 0;
	text-align: center;
}

.order_total {
	background-color: transparent;
}

/*
basket_number
basket_product_total
basket_product_types
basket_sum_gross
basket_sum_netto
*/

/*
usedbasket

*/

.basket_add_icon {
	padding: 5px 5px 5px 20px;
	margin-right: 2px;
	border-radius: 1px;
   text-align: center;
}


.basket_add {
	/*border: 2px solid lightgreen;
	background-color: lightgreen;*/
	padding: 5px;
	margin-right: 2px;
	border-radius: 1px;
}

/*
 Invoice
*/
 
.invoice {
   background-color: white;
   padding: 5px;
   margin: 0 5px 5px 5px;
   border: 2px solid grey;
}

.invoice_unpaid {
   background-color: moccasin;
/*    border: 2px solid moccasin; */
/*    border-bottom-left-radius: 12px; */
/*    border-bottom-right-radius: 12px; */
}

.invoice_paid {
   background-color: lightgreen;
/*   border: 2px solid lightgreen; */
/*    border-bottom-left-radius: 12px; */
/*    border-bottom-right-radius: 12px; */
/*    border-top-left-radius: 12px; */
}

.invoice_close_payment {
   background-color: Coral;
/*    border: 2px solid Coral; */
/*    border-top-left-radius: 12px; */
/*    border-top-right-radius: 12px; */
}

.invoice_overdue {
   background-color: OrangeRed ;
/*    border-bottom-left-radius: 12px; */
/*    border-bottom-right-radius: 12px; */
}

/*
Menu
*/

.categories {
	
}
.categories.menu_header {
	position:relative;
	text-shadow: 0.12em 0.12em #999;
}

.categories.menu_header > .icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	/*background-image: url("images/tree_diagramm_16.png");
	background-position: center right;
	background-repeat: no-repeat; */
}

.cat_href {
	border-color: #7b9ebd;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	/*background-color: #eeeeff;*/
	margin: 2px;
	padding: 3px 0px 3px 3px;
}

.cat_href.category_selected { font-weight: bolder; }

.cat_href a:link {text-decoration: none; color: #111111;}
.cat_href a:visited {text-decoration: none; color: #111111;}
.cat_href a:active {text-decoration: none; color: #111111;}
.cat_href a:hover {text-decoration: none; color: #881111;}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #9a9a9a;
	padding: 5px;
	opacity: 0.95;
	color: red;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}

#tooltip h3,#tooltip div {
	margin: 0;
}

/*
Table things
*/
TR.header {
	background: #ffffff;
}

TD.headerNavigation {
	font-size: 12px;
	background: #6a7000;
	color: #ffffff;
	padding-bottom: 2px;
	font-weight: bold;
}

/*
.tableBox td {
	margin: 2px 5px 0px 2px;
	/*border: 2px solid blueviolet;*/
	width: 100%;
	background: #f6f7f6;
	/*width: 99%;*/
	
	/*WTF ??????????????? */
	/* http://css-tricks.com/almanac/properties/h/hyphenate/ */
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
   /*WTF ??????????????? */
}
*/

.czyzby_css_nie_lubil_zagniezdzonych_komentarzy_sasasa {}

.tableBox_light {
   background-color: white;
   border: 5px solid white;
}

.tableBox_light td {
   padding: 2px;
   border: 0;
   border-bottom: 1px solid grey;
   border-collapse: collapse;
   color: #111111;
}

.tableBox_light th {
   padding: 5px;
   border: 1px solid white;
   border-collapse: collapse;
}



a span.catalog_product_name {
	/*color: black;*/
	text-decoration: underline;
}

.tableBorder {
	border: 1px solid black;
	border-collapse: collapse;
}

.tableBorder td {
	border: 1px solid black;
	border-collapse: collapse;
}

.tableBorder th {
	border: 1px solid black;
	border-collapse: collapse;
}

.tableBox td {
	padding: 2px;
	border: 1px solid white;
	border-collapse: collapse;
	color: #111111;
}
/*
.tableBox td a{
	color: #212121;
}
*/
.tableBox th {
	padding: 5px;
	border: 1px solid white;
	border-collapse: collapse;
}

.tableBoxContents {
	background: blue;
	font-size: 10px;
}

.tableBoxHeading {
	font-size: 12px;
	font-weight: bold;
	background: blue;
	color: #ffffff;
}

.tableBoxHeading th {
	font-size: 13px;
	font-weight: bold;
	background: #012652;
	color: #ffffff;
}

.tableBoxHeading td {
   font-size: 13px;
   font-weight: bold;
   background: #012652;
   color: #ffffff;
}

.tableBox TR.tableRow-odd {
	/*background: #d8d8d9;*/
	background: #f8f8f9;
}

.tableBox TR.tableRow-even {
	background: #d8d8d9;
}

tbody tr:hover td { background:transparent; }
/*
"InfoBox"
*/
div.InfoBox {
	float: left;
	display: block;
	background-color: pink;
	font-size: 20;
}

/*
Toolbox
*/
div.ToolBox {
	float: right;
	clear: right;
	display: block;
	background-color: pink;
	padding: 4px;
}

.ToolBox img {
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.ToolBox img:hover {
	cursor: pointer;
	margin: 2px;
}

/*
Pagination
*/
div.SplitPageContainer {
/*	float: left; */
	display: block;
	clear: both;
	width: 700px;
	height: 50px;
	overflow: hidden;
}

.SplitPageContainer div {
	float: left;
	display: block;
	height: 50px;
	overflow: hidden;
	padding: 0 7px 0 7px;
}

.SplitPageContainer a:link {text-decoration: none; color: grey;}
.SplitPageContainer a:visited {text-decoration: none; color: grey;}
.SplitPageContainer a:active {text-decoration: none; color: grey;}
.SplitPageContainer a:hover {text-decoration: none; color: darkred;}

/*
SplitPageContainer
SplitPagePrev
SplitPageGroup
SplitPageThis
SplitPagePage
SplitPageNext
*/
/*
Info
*/
.messageInfo {
	margin-bottom: 1px;
	padding: 3px;
}

.messageInfoError {
	background: Crimson;
}

.messageInfoWarning {
	background: Orange;
}

.messageInfoSuccess {
	background: DarkSeaGreen;
}

.messageInfoOther {
	background: Azure;
}
