RewriteEngine On

RewriteRule ^index.php$ ../index.php?virtualdir=produkty_medyczne [QSA,L] 
RewriteRule ^$ ../index.php?virtualdir=produkty_medyczne [QSA,L]
RewriteRule ^(.*)$ ../$1?virtualdir=produkty_medyczne  [QSA,L]