/*
Table things
*/
TR.header {
	background: #ffffff;
}

TD.headerNavigation {
	font-size: 12px;
	background: #9aa0b0;
	color: #ffffff;
	padding-bottom: 2px;
	font-weight: bold;
}

.tableBox {
	background: #b6b7cb;
	clear: both;
	width: 100%;
}

.tableBorder {
	border: 1px solid black;
	border-collapse: collapse;
}

.tableBorder td {
	border: 1px solid black;
	border-collapse: collapse;
}

.tableBorder th {
	border: 1px solid black;
	border-collapse: collapse;
}

.tableBox td {
	padding: 5px;
}

.tableBox th {
	padding: 5px;
}

.tableBoxContents {
	background: #f8f8f9;
	font-size: 10px;
}

.tableBoxHeading {
	font-size: 12px;
	font-weight: bold;
	background: #9aa0b0;
	color: #ffffff;
}

TR.tableRow-odd {
	background: #f8f8f9;
}

TR.tableRow-even {
	background: #d8d8d9;
}

/*
"InfoBox"
*/
div.InfoBox {
	float: left;
	display: block;
	background-color: pink;
	font-size: 20;
}

/*
Toolbox
*/
div.ToolBox {
	float: right;
	clear: right;
	display: block;
	background-color: pink;
	padding: 4px;
}

.ToolBox img {
	margin: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.ToolBox img:hover {
	cursor: pointer;
	margin: 2px;
}

/*
Pagination
*/
div.SplitPageContainer {
	float: left;
	display: block;
	width: 700px;
	height: 50px;
	overflow: hidden;
}

.SplitPageContainer div {
	float: left;
	display: block;
	height: 50px;
	overflow: hidden;
	padding: 0 7 0 7;
}

/*
SplitPageContainer
SplitPagePrev
SplitPageGroup
SplitPageThis
SplitPagePage
SplitPageNext
*/
/*
Info
*/
.messageInfo {
	margin-bottom: 1px;
	padding: 3px;
}

.messageInfoError {
	background: Crimson;
}

.messageInfoWarning {
	background: Orange;
}

.messageInfoSuccess {
	background: DarkSeaGreen;
}

.messageInfoOther {
	background: Azure;
}
